inventory.wsdl

<definitions name="InventoryService"
  targetNamespace="http://example.com/inventory"
  xmlns:tns="http://example.com/inventory"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Опис типів -->
  <types>
    <xsd:schema targetNamespace="http://example.com/inventory">
      <xsd:element name="AddDailyPlanRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productName" type="xsd:string"/>
            <xsd:element name="category" type="xsd:string"/>
            <xsd:element name="plannedQuantity" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="AddDailyPlanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dailyPlanId" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="AddActualStockRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productName" type="xsd:string"/>
            <xsd:element name="actualQuantity" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="AddActualStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetReportRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="date" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productName" type="xsd:string"/>
            <xsd:element name="category" type="xsd:string"/>
            <xsd:element name="plannedQuantity" type="xsd:int"/>
            <xsd:element name="actualQuantity" type="xsd:int"/>
            <xsd:element name="difference" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="AddProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="category" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="AddProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productId" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetDailyPlanRequest">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetDailyPlanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dailyPlans" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DeleteDailyPlansRequest">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DeleteDailyPlansResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <!-- Вхідні та вихідні повідомлення -->
  <message name="AddDailyPlanRequest">
    <part name="parameters" element="tns:AddDailyPlanRequest"/>
  </message>
  <message name="AddDailyPlanResponse">
    <part name="parameters" element="tns:AddDailyPlanResponse"/>
  </message>

  <message name="AddActualStockRequest">
    <part name="parameters" element="tns:AddActualStockRequest"/>
  </message>
  <message name="AddActualStockResponse">
    <part name="parameters" element="tns:AddActualStockResponse"/>
  </message>

  <message name="GetReportRequest">
    <part name="parameters" element="tns:GetReportRequest"/>
  </message>
  <message name="GetReportResponse">
    <part name="parameters" element="tns:GetReportResponse"/>
  </message>

  <message name="AddProductRequest">
    <part name="parameters" element="tns:AddProductRequest"/>
  </message>
  <message name="AddProductResponse">
    <part name="parameters" element="tns:AddProductResponse"/>
  </message>

  <message name="GetDailyPlanRequest">
    <part name="parameters" element="tns:GetDailyPlanRequest"/>
  </message>
  <message name="GetDailyPlanResponse">
    <part name="parameters" element="tns:GetDailyPlanResponse"/>
  </message>

  <message name="DeleteDailyPlansRequest">
    <part name="parameters" element="tns:DeleteDailyPlansRequest"/>
  </message>
  <message name="DeleteDailyPlansResponse">
    <part name="parameters" element="tns:DeleteDailyPlansResponse"/>
  </message>

  <!-- Опис порту (операцій сервісу) -->
  <portType name="InventoryPortType">
    <operation name="addDailyPlan">
      <input message="tns:AddDailyPlanRequest"/>
      <output message="tns:AddDailyPlanResponse"/>
    </operation>

    <operation name="addActualStock">
      <input message="tns:AddActualStockRequest"/>
      <output message="tns:AddActualStockResponse"/>
    </operation>

    <operation name="getReport">
      <input message="tns:GetReportRequest"/>
      <output message="tns:GetReportResponse"/>
    </operation>

    <operation name="addProduct">
      <input message="tns:AddProductRequest"/>
      <output message="tns:AddProductResponse"/>
    </operation>

    <operation name="getDailyPlan">
      <input message="tns:GetDailyPlanRequest"/>
      <output message="tns:GetDailyPlanResponse"/>
    </operation>

    <operation name="deleteDailyPlans">
      <input message="tns:DeleteDailyPlansRequest"/>
      <output message="tns:DeleteDailyPlansResponse"/>
    </operation>
  </portType>

  <!-- Прив’язка операцій до SOAP -->
  <binding name="InventoryBinding" type="tns:InventoryPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="addDailyPlan">
      <soap:operation soapAction="http://example.com/inventory/addDailyPlan"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="addActualStock">
      <soap:operation soapAction="http://example.com/inventory/addActualStock"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getReport">
      <soap:operation soapAction="http://example.com/inventory/getReport"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="addProduct">
      <soap:operation soapAction="http://example.com/inventory/addProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDailyPlan">
      <soap:operation soapAction="http://example.com/inventory/getDailyPlan"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteDailyPlans">
      <soap:operation soapAction="http://example.com/inventory/deleteDailyPlans"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- Опис сервісу -->
  <service name="InventoryService">
    <port name="InventoryPort" binding="tns:InventoryBinding">
      <soap:address location="https://invent-13fd83ab7b72.herokuapp.com/inventory"/>
    </port>
  </service>

</definitions>